.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.crud{
  background-color: #c9d6ff;
  background: linear-gradient(to right,#e2e2e2,#c9d6ff);

  }
  table {
    background: #ffffff;
    width: 100%;
    padding: 1rem;
    color: black;
    border-collapse: collapse;
  }

 
  table td{
    width: 200px;
    height: 30px;
    background-color: rgb(54, 135, 211);
    text-align: center;
    color: #ffffff;
  }
  
  th,td{
    padding: 1rem;
}

th{
    text-align: left;
    background: hsl(100 100% 100%);
}

tr:nth-of-type(2n){
    background: hsl(207 83% 75%);
}
  
  table td button.edit{
    border: 1px solid green;
    background-color: rgb(7, 168, 7);
    color: white;
  }
  
  table td button.edit:hover {
    background-color: rgb(3, 71, 3);
  }
  
  table td button.delete{
    border: 1px solid red;
    background-color: rgb(219, 10, 19);
    color: white;
  }
  
  table td button.delete:hover {
    background-color: rgb(92, 5, 5);
  }
  
  .addForm{
    margin-bottom: 30px;
  }
  
  .addForm input{
    width: 230px;
    height: 30px;
  }
  
  .addForm button{
    width: 140px;
    color: white;
    background-color: rgb(31, 171, 31);
    height: 35px;
  }
  
  .addForm button:hover{
    background-color: rgb(5, 86, 5);
  }
  